<h1>Welcome to the Alpha Blog! - Homepage</h1>
<Br>
<h2>This blog will let you rant about anything!</h2>
<Br>
<ul>
  <li><%= link_to 'Blog', blog_path %></li>
  <li><%= link_to 'About', about_path %></li>
  <li><%= link_to 'Contact', contact_path %></li>
</ul>
<Br>
<Br>
<p>Copyright Alpha Blog 2016</p>