<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; 2016 <%= link_to "Home", root_path %>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>